.section-components {
    .component {
        $bgColor: #f5f2f0;
        $border: 1px solid rgba(0,0,0,0.5);

        margin-top: 1em;
        margin-bottom: 1em;
        border: $border;
        background-color: $bgColor;
        nav {
            display: flex;
            ul {
                display: flex;
                justify-content: flex-start;
                align-content: flex-end;
                flex-direction: row;
                list-style: none;
                margin: 0;
                padding: 0;
                flex-grow: 1;
                max-width: 500px;
                li {
                    flex-grow: 1;
                    flex-basis: 33%;
                    a {
                        cursor: pointer;
                        display: block;
                        padding: 1em 1em 0.3em 1em;
                        text-align: center;
                        transition: background-color 300ms;
                        background-color: $bgColor;
                    }
                    a:hover {
                        background-color: #FFFFFF;
                    }
                    &:not(:nth-child(1)) a {
                        border-left: $border;
                    }
                }
            }
        }
        &.show-example, &:not(.show-html):not(.show-css) {
            nav ul li a[data-value="example"] {
                background-color: #CBC5C1;
            }
            nav ul li a[data-value="example"]:hover {
                background-color: #FFFFFF;
            }
            .component-preview > *:nth-child(1) {
                display: block;
            }
        }
    
        &.show-html {
            nav ul li a[data-value="html"] {
                background-color: #CBC5C1;
            }
            nav ul li a[data-value="html"]:hover {
                background-color: #FFFFFF;
            }
            .component-preview > *:nth-child(2) {
                display: block;
            }
        }
        &.show-css {
            nav ul li a[data-value="css"] {
                background-color: #CBC5C1;
            }
            nav ul li a[data-value="css"]:hover {
                background-color: #FFFFFF;
            }
            .component-preview > *:nth-child(3) {
                display:block;
            }
        }
        .component-preview {
            .example {
                padding: 1rem;
                background: #f5f2f0;
                padding: 1em;
                overflow: auto;
                text-shadow: 0 1px white;
                @import "components/*";
            }
        
            & > * {
                display: none;
                margin: 0;
            }
        }
    }
}