*, *:after, *:before {
  box-sizing: border-box;
}

html {
  // prevent text size adjust after orientation change, without disabling user zoom
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
