// $color: darkseagreen;
$mmToPx: 3.7795275591;
$pxToEm: 1/16;

$mmToEm: $mmToPx * $pxToEm;

$primary: #8E2462;
$secondary: #474747;
$background: #2b2b2b;
$white: #FFFFFF;
$success: #14c3a2;
$danger: #b61c62;
