@import "fonts";
@import "reset";
@import "variables";
@import "global";

@import "components";

html {
    scroll-behavior: smooth;
}

body{
    font-family: Assistant, sans-serif;
    margin:0;
    padding: 0;
}

.main_nav{
    background-color: $background;
    padding: 0.6rem 0;
    position: fixed;
    width: 100%;
    top: 0;
    display: grid;
    grid-template-columns: 1fr;
    z-index: 1000;

    ul{
        grid-column: 2/3;
        list-style: none;
        margin: 0;
        padding: .5rem 3rem .5rem 3rem;

        li {
            display: inline;
            a {
                color: #fff;
                text-decoration: none;
                font-size: 1.4rem;
                font-weight: 300;
                margin: 0 1.3rem;

                &:hover, &:active, &:focus{
                    color: #ca1a81;
                }
            }
        }
    }
    img {
        grid-column: 1/2;
        width: 13rem;
        padding: 0.5rem 0 0.5rem 3rem;
    }
}

main {
    max-width: 1140px;
    margin: 10rem auto 8rem;

    h1 {
        font-size: 6rem;
        font-weight: 600;
        color: $background;
        margin-left: -6rem;
    }
    .balken{
        width: 10.5rem;
        border-bottom: 8px solid $background;
        margin: 1.5rem 0 3rem 0;
        margin-left: -6rem;
    }
    .introduction {
        width: 65%;
    }
}

// FONTS
#heebo_light {
    font-family: Heebo;
    font-weight: 300;
    margin-left: 3rem;
}
#assistant_light {
    font-family: Assistant;
    font-weight: 300;
    margin-left: 3rem;
}
#assistant_regular {
    font-family: Assistant;
    font-weight: 400;
    margin-left: 3rem;
}
#assistant_semibold {
    font-family: Assistant;
    font-weight: 600;
    margin-left: 3rem;
}

.colors{
    p{
        width: 80%;
    }
}

#logos{
    img{
        padding: 0.2rem 0 0 3rem;
    }
}

#methodology {
    font-size: 1.1rem; 
    p{
        padding: 0 0 0 3rem; 
    }
    ul {
        padding-left: 4.5rem;
        li {
            padding: 0.2rem 0;
            span {
                font-weight: 700;
            }
            small{
                font-size: 1.1rem;
            }
        }
    }
    .namingConv{
        span {
            font-weight: 400;
        }
        p{
            font-weight: 400;
            width: 75ch;
            line-height: 1.5;
        }
    }
}
#components{
    & > section, & > section > section {
        margin: 2rem 0;
    }
    h4 {
        margin-top: 2rem;
    }
    p{
        font-size: 1.1rem;
    }
    .component {
        margin-left: 3rem;
    }
}

#typo{
    td {
        grid-template-columns: 1fr;
    }
}

main section {
    scroll-margin-top: 4rem;
}

p{
    hyphens: auto;
}
h2 {
    font-size: 3rem;
    font-weight: 600;
    margin-left: -4rem;
    padding: 3rem 0 1rem 0;
    color: $background;
}
h3 {
    font-size: 2rem;
    font-weight: 300;
    margin: 0 0 0.5rem 0;
}
h4 {
    font-size: 1.3rem;
    font-weight: 700;
}
table {
    margin-bottom: 2rem;
}
th {
    text-align: left;
    font-size: 1.1rem;
    font-weight: 700;
    padding: 0.5rem .5rem 0.5rem 3rem;
}
td {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

    span{
        grid-column: 1/2;
        width: 2em;
        height: 2em;
        box-shadow: 0 0 14px 3px #ccc;
        margin: 0 2rem;
    }
    p{
        grid-column: 2/3;
    }
}

footer {
    text-align: center;
    padding: 1.5rem 0;
    background-color: $primary;
    color: $white;
    letter-spacing: 0.05rem;
    font-weight: 300;
}

// Responsive

@media screen and (max-width:1440px){

    main {
        margin: 10rem 8rem 8rem;
    
        h1 {
            margin-left: 0;
        }
        .balken{
            margin-left: 0;
        }
        .introduction {
            width: 85%;
        }
    }

    h2 {
        margin-left: 0;
    }

    #components{
        .component {
            margin-left: 0;
        }
    }
}

@media screen and (max-width:1024px){

    main {
        margin: 10rem 2rem 8rem;
    }
}

@media screen and (max-width:780px){

    main {
        margin: 15rem 2rem 8rem;

        h1{
            line-height: 1;
        }
        .introduction {
            width: 100%;
        }
    }

    .main_nav{
    
        ul{
            grid-column: 1/2;
            padding: 0;
            li {
                width: 100%;
                display: inline-block;
                padding: 0.3rem 0;
                text-align: center;
                a {
                    margin: 0 0.5rem;
                }
            }
        }
        img {
            grid-column: 1/2;
            width: 13rem;
            padding: 1rem 0;
            margin: auto;
        }
    }

    th {
        padding: 0.5rem 0;
    }

    #methodology {
        p{
            padding: 0; 
        }
        ul {
            padding-left: 1.5rem;
        }
    }
}
