<section class="namingConv">
    <h3>Conventions</h3>
    <!--high specificity; component root class (if necessary tag+attribute|exception standard elements like button/input); within component chaining (specific + '>');-->
    <!--TODO: rewrite-->
    <p>BEM <small>(Block__Element--Modifier)</small></p>
    <ul>
        <li>
            <span>btnConfirm</span>
            <ul>
                <li>
                    <span>btnConfirm__icon</span>
                </li>
                <li>
                    <span>btnConfirm__caption</span>
                </li>
            </ul>
        </li>
    </ul>
</section>
