<section>
    <h3>File Structure</h3>
    <!--TODO: extend + icons-->
    <ul>
        <li class="folder">
            <span>src:</span>
            <small>all the files used to create the application</small>
            <ul>
                <li class="folder">
                    <span>images:</span>
                    <small>images used by the application</small>
                </li>
                <li class="folder">
                    <span>sass:</span>
                    <small>style files</small>
                </li>
                <li class="folder">
                    <span>pages:</span>
                    <small>the pages of the application</small>
                </li>
                <li class="folder">
                    <span>libs:</span>
                    <small>supporting libraries written by us</small>
                </li>
            </ul>
        </li>
        <li class="folder">
            <span>node_modules:</span>
            <small>the installed packages</small>
        </li>
        <li class="file">
            <span>package.json:</span>
            <small>programmatic description of the project</small>
        </li>
        <li>
            <span>README.md:</span>
            <small>description of the project</small>
        </li>
    </ul>
</section>
