<section>
    <h4>Header Navigation with Back Button</h4>
    <div class="component">
        <div class="component-preview">
            <div class="example">
                <header>
                    <button class="back">
                        back
                    </button>
                    <h1>
                        <a href="#">
                            <img src="${require('../../../images/logo_white.svg')}" alt="debtrack">
                        </a>
                    </h1>
                    <button class="help">
                        help
                    </button>
                </header>
            </div>
            <pre><code class="language-html">
&lt;header&gt;
    &lt;button class=&quot;back&quot;&gt;
        back
    &lt;/button&gt;
    &lt;h1&gt;
        &lt;a href=&quot;#&quot;&gt;
            &lt;img src=&quot;${require('../../../images/logo_white.svg')}&quot; alt=&quot;debtrack&quot;&gt;
        &lt;/a&gt;
    &lt;/h1&gt;
    &lt;button class=&quot;help&quot;&gt;
        help
    &lt;/button&gt;
&lt;/header&gt;
            </code></pre>
            <pre><code class="language-css">
header {
    display: block;
    position: relative;
    height: 3rem;

    a {
        display: block;
        position: absolute;
        top: 0rem;
        left: 50%;
        transform: translate(-50%,0);
        text-align: center;
        img {
            width: 50%;
            height: 3rem;
        }
    }
    button {
        display: block;
        height: 2.5rem;
        width: 2.5rem;
        padding: 0;
        font-size:0;
        background-color: transparent;
        background-image: none;
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;
        border-radius: 50%;
        position: absolute;
        top: 0.25rem;

        &:hover {
            box-shadow: 0 0 1rem rgba(255,255,255,0.3);
            background-position: center;
        }

        &.back, &.help, &.close {
            background-repeat: no-repeat;
            background-size: 2rem 2rem;
        }
        &.back {
            background-image: url(${require('../../../images/backpfeil.svg')});
            left: 1rem;
        }
        &.help {
            background-image: url(${require('../../../images/help.svg')});
            right: 1rem;
        }
        &.close {
            background-image: url(${require('../../../images/close.svg')});
            right: 1rem;
        }
    }
}
            </code></pre>
        </div>
    </div>
    ${require('./_headerBack_explanation.html')}
</section>