<section>
    <h4>Header Navigation</h4>
    <div class="component">
        <div class="component-preview">
            <div class="example">
                <header class="header-main">
                    <h1>
                        <a href="#">
                            <img src="${require('../../../images/logo_white.svg')}" alt="debtrack">
                        </a>
                    </h1>
                    <button class="btn-help">
                        help
                    </button>
                </header>
            </div>
            <pre><code class="language-html">
&lt;header class="header-main"&gt;
    &lt;h1&gt;
        &lt;a href=&quot;#&quot;&gt;
            &lt;img src=&quot;${require('../../../images/logo_white.svg')}&quot; alt=&quot;debtrack&quot;&gt;
        &lt;/a&gt;
    &lt;/h1&gt;
    &lt;button class=&quot;btn-help&quot;&gt;
        help
    &lt;/button&gt;
&lt;/header&gt;
            </code></pre>
            <pre><code class="language-css">
.header-main {
    display: block;
    position: relative;
    height: 3rem;

    & > h1 > a {
        display: block;
        position: absolute;
        top: 0rem;
        left: 50%;
        transform: translate(-50%,0);
        text-align: center;
        & > img {
            width: 50%;
            height: 3rem;
        }
    }
    & > button {
        display: block;
        height: 2.5rem;
        width: 2.5rem;
        padding: 0;
        font-size:0;
        background-color: transparent;
        background-image: none;
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;
        border-radius: 50%;
        position: absolute;
        top: 0.25rem;

        &.btn-help {
            background-repeat: no-repeat;
            background-size: 2rem 2rem;
            background-image: url(${require('../../../images/help.svg')});
            right: 1rem;

            &:hover {
                background-image: url(${require('../../../images/help_hover.svg')});
                background-position: center;
            }
        }
    }
}
            </code></pre>
        </div>
    </div>
    ${require('./_header_explanation.html')}
</section>
