<section>
    <h4>Numeric</h4>
    <div class="component">
        <div class="component-preview">
            <div class="example">
                <label for="number_amount">amount</label>
                <input type="number" placeholder="0,98" name="amount" id="number_amount">
                <span>€</span>
            </div>
            <pre><code class="language-html">
&lt;label for=&quot;number_amount&quot;&gt;
    amount
&lt;/label&gt;
&lt;input type=&quot;number&quot; placeholder=&quot;0,98&quot; name=&quot;amount&quot; id=&quot;number_amount&quot;&gt;
            </code></pre>
            <pre><code class="language-css">
label {
    color: $white;
    font-family: 'Assistant';
    font-weight: 600;
    font-size: 1.3rem;
    display: block;
    padding: 0.5rem 0.7rem;
    width: 100%;
    max-width: $maxWidth;

    & + input[type=&quot;number&quot;] {
        margin-top: -0.3rem;
    }
}
input[type=&quot;number&quot;] {
    background-color: $secondary;
    border: 0;
    font-family: 'Heebo';
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0.7rem 1.5rem;
    color: $white;
    width: 100%;
    width: calc(100% - 2.5rem);
    max-width: $maxWidth;
    max-width: calc(#{$maxWidth} - 2.5rem);
    border-radius: 0.28346rem;

    transition-property: background-color;
    transition-duration: 300ms;

    -moz-appearance: textfield;
    appearance: none;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        margin: 0;
    }

    &:hover, &:focus {
        background-color: darken($secondary, 10%);
    }
    &::placeholder {
        color: darken($white, 30%);
    }

    & + span {
        display: inline-block;

        font-family: Heebo;
        font-weight: 300;
        font-size: 3rem;
        height: 4rem;
        line-height: 4rem;
        vertical-align: middle;

        color: $white;
        margin: -0.4rem 0 0 0.5rem;
    }
}
            </code></pre>
        </div>
    </div>
    ${require('./_numeric_explanation.html')}
</section>
