<section>
        <h4>Link</h4>
        <div class="component">
            <div class="component-preview">
                <div class="example">
                    <a href="#" class="link">
                        Imprint
                    </a>
                </div>
                <pre><code class="language-html">
    &lt;a href="#"&gt;
        Imprint
    &lt;/a&gt;
                </code></pre>
                <pre><code class="language-css">
    a {
        color: white;
        font-family: Assistant;
        font-size: 1.2rem;
    
        &:hover {
            color: primary;
        }
    }               
                </code></pre>
            </div>
        </div>
        ${require('./_links_explanation.html')}
    </section>
    