<section>
    <h4>Circle Icon</h4>
    <div class="component">
        <div class="component-preview">
            <div class="example">
                <span class="circle-icon">T</span>
            </div>
            <pre><code class="language-html">
&lt;span class=&quot;circle-icon&quot;&gt;
    T
&lt;/span&gt;
            </code></pre>
            <pre><code class="language-css">
.circle-icon {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: $background;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    color: $white;
    font-size: 1.2rem;
}
            </code></pre>
        </div>
    </div>
    ${require('./_circleIcon_explanation.html')}
</section>