.circle-letter {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background-color: $background;
    border-radius: 50%;
    line-height: 3rem;
    text-align: center;
    color: $white;
    font-family: 'Assistant';
    font-size: 1.2rem;
}