input[type="text"][list] {
    
    &::-webkit-calendar-picker-indicator, &::-webkit-list-button {
        display: inline-block;
        color: $white;
        background-color: transparent;
        border-radius: 0.28346rem;

        &:hover {
            background-color: $secondary;
        }
    }
}