button.fab {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-family: Assistant;
    font-size: 0;

    background-image: url(../images/plus.svg), linear-gradient(0.25turn, #825594, $primary);
    background-size: 1.8rem 1.8rem, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    box-shadow: 0 0.47244rem 0.70866rem #0000001E; //2mm 3mm
    color: white;

    will-change: background-image, box-shadow;
    transition-property: background-image, box-shadow;
    transition-duration: 300ms;

    &:hover {
        background-image: url(../images/plus.svg), linear-gradient(0.25turn, $primary, #825594);
        box-shadow: 0 0.94488rem 1.1811rem #0000001E; //4mm 5mm
    }
}
