header {
    display: block;
    position: relative;
    height: 3rem;

    & > h1 > a {
        display: block;
        position: absolute;
        top: 0rem;
        left: 50%;
        transform: translate(-50%,0);
        text-align: center;
        & > img {
            width: 50%;
            height: 3rem;
        }
    }
    & > button {
        display: block;
        height: 2.5rem;
        width: 2.5rem;
        padding: 0;
        font-size:0;
        background-color: transparent;
        background-image: none;
        background-size: 2rem 2rem;
        background-repeat: no-repeat;
        background-position: center;
        box-shadow: none;
        border-radius: 50%;
        position: absolute;
        top: 0.25rem;

        &.btn-back, &.btn-help, &.btn-close {
            background-repeat: no-repeat;
            background-size: 2rem 2rem;
        }
        &.btn-back {
            background-image: url(../images/backpfeil.svg);
            left: 1rem;

            &:hover{
                background-image: url(../images/backpfeil_hover.svg);
                background-position: center;
            }
        }
        &.btn-help {
            background-image: url(../images/help.svg);
            right: 1rem;

            &:hover {
                background-image: url(../images/help_hover.svg);
                background-position: center;
            }
        }
        &.btn-close {
            background-image: url(../images/close.svg);
            right: 1rem;

            &:hover {
                background-image: url(../images/close_hover.svg);
                background-position: center;
            }
        }
    }
}
