@import "../../../node_modules/reset-css/sass/reset";

$primary: #8E2462;
$secondary: #474747;
$background: #2b2b2b;
$white: #FFFFFF;
$success: #14c3a2;
$danger: #b61c62;

*, *:after, *:before {
    box-sizing: border-box;
    padding:0;
    margin:0;
}
html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

@import "button_reset";
@import "button";
@import "fab";
@import "iconButton";