label {
    color: $white;
    font-family: 'Assistant';
    font-weight: 600;
    font-size: 1.3rem;
    display: block;
    padding: 0.5rem 0.7rem;
    width: 100%;
    max-width: $maxWidth;

    & + input[type="number"] {
        margin-top: -0.3rem;
    }
}
input[type="number"] {
    background-color: $secondary;
    border: 0;
    font-family: 'Heebo';
    font-weight: 300;
    font-size: 1.5rem;
    padding: 0.7rem 1.5rem;
    color: $white;
    width: 100%;
    max-width: $maxWidth;
    border-radius: 0.28346rem;

    transition-property: background-color;
    transition-duration: 300ms;

    -moz-appearance: textfield;
    appearance: none;

    &::-webkit-inner-spin-button, &::-webkit-outer-spin-button { 
        -webkit-appearance: none;
        margin: 0;
    }

    &:hover, &:focus {
        background-color: darken($secondary, 10%);
    }
    &::placeholder {
        color: darken($white, 30%);
    }
}