<section>
    <h4>Default Button</h4>
    <div class="component">
        <div class="component-preview">
            <div class="example">
                <button>Button Text</button>
            </div>
            <pre><code class="language-html">
&lt;button&gt;
    Button Text
&lt;/button&gt;
            </code></pre>
            <pre><code class="language-css">
button {
    padding: 1em;
    background-color: red;
}
button:hover {
    background-color: yellow;
}
            </code></pre>
        </div>
    </div>
</section>