<section>
    <h4>Floating Action Button</h4>
    <div class="component">
        <div class="component-preview">
            <div class="example">
                <button class="fab">add</button>
            </div>
            <pre><code class="language-html">
&lt;button class=&quot;fab&quot;&gt;
    add
&lt;/button&gt;
            </code></pre>
            <pre><code class="language-css">
button.fab {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-family: Assistant;
    font-size: 0;

    background-image: url(${require('../../../images/plus.svg')}), linear-gradient(0.25turn, #825594, #8E2462);
    background-size: 1.8rem 1.8rem, 100% 100%;
    background-repeat: no-repeat, no-repeat;
    background-position: center, center;
    box-shadow: 0 0.47244rem 0.70866rem #0000001E;
    color: white;

    will-change: background-image, box-shadow;
    transition-property: background-image, box-shadow;
    transition-duration: 300ms;
}
button.fab:hover {
    background-image: url(${require('../../../images/plus.svg')}), linear-gradient(0.25turn, #8E2462, #825594);
    box-shadow: 0 0.94488rem 1.1811rem #0000001E;
}
            </code></pre>
        </div>
    </div>
    ${require('./_fab_explanation.html')}
</section>