<section>
    <h4>Icon Button</h4>
    <div class="component">
        <div class="component-preview">
            <div class="example">
                <button class="icon success" data-text="paid">paid</button>
                <button class="icon danger" data-text="delete">delete</button>
            </div>
            <pre><code class="language-html">
&lt;button class=&quot;icon success&quot; data-text=&quot;paid&quot;&gt;
    paid
&lt;/button&gt;
&lt;button class=&quot;icon danger&quot; data-text=&quot;delete&quot;&gt;
    delete
&lt;/button&gt;
            </code></pre>
            <pre><code class="language-css">
button.icon {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    font-family: Assistant;
    font-weight: 300;
    font-size: 0;
    position: relative;

    background-color: $primary;
    background-image: url(${require('../../../images/plus.svg')});
    background-size: 1.8rem 1.8rem;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0.47244rem 0.70866rem #0000001E;
    color: white;

    will-change: background-color, box-shadow;
    transition-property: background-color, box-shadow;
    transition-duration: 300ms;

    margin-bottom: 1.4rem;

    &::after {
        content: attr(data-text);
        font-size: 1rem;
        position: absolute;
        top: 100%;
        top: calc(100% + 0.2rem);
        left: 0;
        width: 100%;
        text-align: center;
    }

    &.success {
        background-color: $success;
        background-image: url(${require('../../../images/hacken.svg')});

        &:hover {
            background-color: darken($success, 5%);
        }
    }
    &.danger {
        background-color: $danger;
        background-image: url(${require('../../../images/x.svg')});

        &:hover {
            background-color: darken($danger, 5%);
        }
    }

    &:hover {
        box-shadow: 0 0.94488rem 1.1811rem #0000001E;
        background-color: darken($primary, 5%);
    }
}
            </code></pre>
        </div>
    </div>
    ${require('./_iconButton_explanation.html')}
</section>
