<section>
    <h3>Colors</h3>
    <table border="0">
        <!--$primary: #8E2462;
$success: #14c3a2;
$danger: #b61c62;-->
        <tr>
            <th>Primary</th>
            <td>
                <span style="background-color:#8E2462;display:inline-block;width:1em;height:1em;margin-right:1em;box-shadow:0 0 5px #000;"></span>
                #8E2462
            </td>
        </tr>
        <tr>
            <th>Secondary</th>
            <td>
                <span style="background-color:#474747;display:inline-block;width:1em;height:1em;margin-right:1em;box-shadow:0 0 5px #000;"></span>
                #474747
            </td>
        </tr>
        <tr>
            <th>Background</th>
            <td>
                <span style="background-color:#2b2b2b;display:inline-block;width:1em;height:1em;margin-right:1em;box-shadow:0 0 5px #000;"></span>
                #2b2b2b
            </td>
        </tr>
        <tr>
            <th>White</th>
            <td>
                <span style="background-color:#FFFFFF;display:inline-block;width:1em;height:1em;margin-right:1em;box-shadow:0 0 5px #000;"></span>
                #FFFFFF
            </td>
        </tr>
        <tr>
            <th>Success</th>
            <td>
                <span style="background-color:#14c3a2;display:inline-block;width:1em;height:1em;margin-right:1em;box-shadow:0 0 5px #000;"></span>
                #14c3a2
            </td>
        </tr>
        <tr>
            <th>Danger</th>
            <td>
                <span style="background-color:#b61c62;display:inline-block;width:1em;height:1em;margin-right:1em;box-shadow:0 0 5px #000;"></span>
                #b61c62
            </td>
        </tr>
    </table>
</section>