<section>
    <h3>Colors</h3>
    <table border="0">
        <!--$primary: #8E2462;
$success: #14c3a2;
$danger: #b61c62;-->
        <tr>
            <th>Primary</th>
            <td>
                <span style="background-color:#8e2462;display:inline-block;"></span>
                <p>#8e2462</p>
            </td>
        </tr>
        <tr>
            <th>Secondary</th>
            <td>
                <span style="background-color:#474747;display:inline-block;"></span>
                <p>#474747</p>
            </td>
        </tr>
        <tr>
            <th>Background</th>
            <td>
                <span style="background-color:#2b2b2b;display:inline-block;"></span>
                <p>#2b2b2b</p>
            </td>
        </tr>
        <tr>
            <th>White</th>
            <td>
                <span style="background-color:#FFFFFF;display:inline-block;"></span>
                <p>#ffffff</p>
            </td>
        </tr>
        <tr>
            <th>Success</th>
            <td>
                <span style="background-color:#14c3a2;display:inline-block;"></span>
                <p>#14c3a2</p>
            </td>
        </tr>
        <tr>
            <th>Danger</th>
            <td>
                <span style="background-color:#b61c62;display:inline-block;"></span>
                <p>#b61c62</p>
            </td>
        </tr>
    </table>
</section>