<section>
    <h3>Colors</h3>
    <table border="0">
        <tr>
            <th>Primary Color</th>
            <td>
                <span style="background-color:#FF0000;display:inline-block;width:1em;height:1em;margin-right:1em;"></span>
                #FF0000</td>
            </tr>
        <tr>
            <th>Secondary Color</th>
            <td>
                <span style="background-color:#FFFF00;display:inline-block;width:1em;height:1em;margin-right:1em;"></span>
                #FFFF00
            </td>
        </tr>
    </table>
</section>