<section>
    <!-- <h3>Introduction</h3> -->
    <!-- <p>
        With the mobile app debtrack it is very easy to keep an overview of your debts. 
        You can note down what someone owes you and even split costs between various people. 
        Send them a reminder directly from the app to receive your money asap. 
        Billing with your friends after the next pizza order has never been so easy!
    </p>
    <p>
        The debtrack styleguide is a resource for developers, designers and everyone else who continues working 
        on the application to maintain consistency. It includes documentation on branding, design and code implementation. 
    </p> -->
</section>