<section>
    <h3>Logo</h3>

    <table border="0" id="logos">
        <tr>
            <th> Logo 
                <a href="${require('../../images/logo_black.svg')}" alt="debtrack Logo" download>
                    [download]
                </a>
            </th>
            <td>
                <img src="${require('../../images/logo_black.svg')}" alt="debtrack Logo">
            </td>
        </tr>
        <tr>
            <th>App Icon</th>
            <td>
                <img src="${require('../../images/favicon/styleguide/appicon.png')}" alt="debtrack App Icon">
            </td>
        </tr>
        <tr>
            <th>Favicon</th>
            <td>
                <img src="${require('../../images/favicon/styleguide/favicon.png')}" alt="debtrack Favicon">
            </td>
        </tr>
    </table>
</section>