<section>
    <h3>Typography</h3>
    <table border="0" id="typo">
        <tr>
            <th>
                Button text
            </th>
            <td>
                <font family="assistant" size="5" id="assistant_regular">Assistant - regular</font>
            </td>
        </tr>
        <tr>
            <th>
               Running text
            </th>
            <td>
                <font family="assistant" size="5" id="assistant_light">Assistant - light</font>
            </td>
        </tr>
        <tr>
            <th>
                Labels & dropdown menu
            </th>
            <td>
                <font family="assistant" size="5" id="assistant_semibold">Assistant - semibold</font>
            </td>
        </tr>
        <tr>
            <th>
                Amount of money
            </th>
            <td>
                <font family="Heebo" size="5" id="heebo_light">Heebo - light</font>
            </td>
        </tr>
    </table>
</section>