<!DOCTYPE html>

<!--
    * create new images/icon-touch, eg. with https://realfavicongenerator.net/
-->

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>debtrack Style Guide</title>
    <meta name="description" content="The style guide for the mobile web app debtrack.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="referrer" content="same-origin">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="debtrack">
    <!-- <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png"> -->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="debtrack">
    <!-- <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png"> -->

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="<%=require('./images/logo_white.svg')%>">
    <meta name="msapplication-TileColor" content="#2B2B2B">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2B2B2B">

    <!-- Favicon use -->
    <link rel="apple-touch-icon" sizes="180x180" href=" <%=require('./images/favicon/apple-touch-icon.png')%>">
    <link rel="icon" type="image/png" sizes="32x32" href=" <%=require('./images/favicon/favicon-32x32.png')%>">
    <link rel="icon" type="image/png" sizes="16x16" href=" <%=require('./images/favicon/favicon-16x16.png')%>">
    <link rel="mask-icon" href=" <%=require('./images/favicon/safari-pinned-tab.svg')%>" color="#474747">
    <meta name="msapplication-TileColor" content="#474747">
    <meta name="theme-color" content="#ffffff">

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
            <link rel="canonical" href="http://www.example.com/">
        -->
    <link href="https://fonts.googleapis.com/css?family=Assistant:200,300,400,600,700|Heebo:100,300,400,500,700" rel="stylesheet">
    <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>

<body>
    <nav class="main_nav">
        <img src="<%= require('./images/logo_white.svg') %>" alt="debtrack">
        <ul>
            <li><a href="#brandguide">Brandguide</a></li>
            <li><a href="#methodology">Methodology</a></li>
            <li><a href="#components">Components</a></li>
        </li>
    </nav>
    <main>
        <h1>Style Guide</h1>
        <div class="balken"></div>
        <section class="introduction">
            <p>
                    With the mobile app debtrack it is very easy to keep an overview of your debts. 
                    You can note down what someone owes you and even split costs between various people. 
                    Send them a reminder directly from the app to receive your money asap. 
                    Billing with your friends after the next pizza order has never been so easy!
            </p>
            <p>
                The debtrack styleguide is a resource for developers, designers and everyone else who continues working 
                on the application to maintain consistency. It includes documentation on branding, design and code implementation. 
            </p>
        </section>
        <%= require('./partials/brandguide/_index.html') %>

        <%= require('./partials/methodology/_index.html') %>
        
        <%= require('./partials/components/_index.html') %>
    </main>

    <footer>
        &copy; Dominik Gewald &amp; Daniela Kubesch
    </footer>

    <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>

</html>